@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000DE;
  --font: 'Roboto', sans-serif;
}

body {
  font-family: var(--font), sans-serif;
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}
